body,section{
    background-image: linear-gradient( #EE7760, #F24726);
    background-repeat: no-repeat;

    width: auto;
    height: 1024px;
    min-height: 768px;
    
}
body{
    font-family:'Roboto',sans-serif;
}
.posicao_logo{

position: absolute;
left: calc(50% - 250px/2);
top: calc(50% - 250px/2 - 387px);
}
.login{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    position: absolute;
    width: 513px;
    height: 428px;
    left: calc(50% - 513px/2 + 0.5px);
    top: calc(50% - 428px/2);
    background: #FFFFFF;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}
.login_form{    
    display: flex;
}
.login_form_quadrado{
    display: block;

}
.login_form_quadrado label{
    display: block;
    font-size: 16px;

}
.txt{
    display: flex;
    position: absolute;
    top: 14px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #841C08;
}
.esqueceu_senha{
    display: flex;
    justify-content: space-between;
    width: 497px;
    height: 42px;
    position: absolute;

}
