html, body, .container {
    height: 100%;
    margin: 0;
}

body {
    width: 1440px;
}

div {
    display: block;
}

p {
    font-family: 'Inter', sans-serif;
}

.cont-logo > div > div > p {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    color: #433D3D;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.bg-green {
    background-image: url(https://www.imagemhost.com.br/images/2021/09/14/image1.png);
    background-position: center;
    width: 360px;
    height: 768px;
    background-repeat: no-repeat;
    float: right;
}
.bg-image {
    background-image: url(https://www.imagemhost.com.br/images/2021/09/14/image2.jpg);
    background-position: center;
    width: 360px;
    height: 768px;
    background-repeat: no-repeat;
    float: right;
}
.cont2 {
    padding-top: 40px;
    padding-bottom: 135px;
    width: 50%;
}

.block {
    margin: 0px auto;
    width: 100%;
    max-width: 576px;
}

.cont-logo {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 48px;
}

.cont-logo > div {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.cont-logo > div > div {
    margin-left: 8px;
    margin-top: 1px;
}

.cont-title {
    margin-bottom: 72px;
}

.cont-title > p {
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    color: #433D3D;
}

.cont-form {
    position: relative;
    width: 100%;
    margin-bottom: 40px;
}

.cont-form label {
    display: block;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    color: #433D3D;
    margin-bottom: 16px;
}

.cont-form input {
    background: #FFFFFF;
    border: 1px solid #F4F2F2;
    border-radius: 6px;
    outline: none;
    width: 556px;
    height: 46px;
    font-size: 14px;
    letter-spacing: 0.6px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    padding-left: 16px;
}

.cont-form input:focus {
    border: 1px solid #9CC042;
    border-radius: 6px;
}

.cont-form input:hover {
    border: 1px solid #9CC042;
    border-radius: 6px;
    transition: .3s;
}

.cont-options {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #9CC042;
}

.conectado {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    padding-left: 24px;
    cursor: pointer;
    user-select: none;
    line-height: 120%;
}

.conectado input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0px;
    width: 0px;
}

.conectado .checkmark {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 14px;
    width: 14px;
    border-radius: 2px;
    background-color: transparent;
    border: 1px solid #9CC042;
}

.conectado input:checked ~ .checkmark {
    background: url(https://www.imagemhost.com.br/images/2021/09/20/check.png) center center no-repeat #9CC042;
}

.conectado input:checked ~ .checkmark::after {
    display: block;
}

.link {
    display: block;
    color: #9CC042;
    text-decoration: none;
    border-bottom: 1px solid #9CC042;
}

.btn {
    background-color: #5089C6;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    color: #FFFFFF;
    cursor: pointer;
    transition: background .3s;
}

.btn-entrar {
    width: 100%;
    height: 46px;
    margin-top: 72px;
}

.btn-entrar:hover {
    background-color: #376DA8;
    box-shadow: 0px 4px 8px rgba(55, 109, 168, 0.25);
}

.msg-error {
    display: none;
}

::-webkit-scrollbar {
    width: 7px;
    height: 6px;
}

::-webkit-scrollbar-corner {
    overflow: hidden;
}

::-webkit-scrollbar-track {
    background-color: #E8E6E6;
}

::-webkit-scrollbar-thumb {
    background-color: #D1CDCD;
    border-radius: 20px;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }