.posicao_logo{
    position: absolute;
    left: calc(50% - 250px/2);
    top: calc(50% - 250px/2 - 387px);
       
}

.container{
    background-color: #ff451e;
    width: auto;
    height: 146px;
}
html, body, .container {
    height: 100%;
    margin: 0;
}