body {
  margin: 0px;
  font-family: "Roboto";
}

h1,
h2 {
  margin: 0px;
}

h1 {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

select {
  height: 24px;
  width: 100%;
}

.title-01,
.title-02 {
  background: #c4c4c4;
  font-size: 20px;
  font-weight: 600;
  padding: 9px 0px 9px 42px;
}

.title-01 {
  margin-top: 25px;
}

label {
  display: block;
  margin-top: 35px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 70px;
  color: #000000;
}

input {
  width: 100%;
  padding: 1px 0px;
}

.box-p {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin-top: 100px;
}

.box-f1 {
  width: 1168px;
}

.box-btn {
  display: flex;
  justify-content: end;
  margin-top: 28px;
}

.box-f3 {
  margin-top: 12px;
}

.title-02 {
  margin-top: 12px;
}

.box-f4 {
  width: 100%;
  margin-top: 25px;
  border: 1px solid #000;
}

table tbody tr td {
  margin: 0px;
  text-align: center;
}

.txt_cargo_cadastrado {
  position: absolute;
  width: 100%;
  bottom: -25px;

  padding-left: 1085px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 70px;
  background: #d5f4c7;
  color: #000000;
}

.txt_cargo_alterado {
  position: absolute;
  width: 100%;
  bottom: -25px;

  padding-left: 1085px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 70px;
  background: #d5f4c7;
  color: #000000;
}

.txt_cargo_exlcuido {
  position: absolute;
  width: 100%;
  bottom: -25px;

  padding-left: 1085px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 70px;
  background: #ff8686;
  color: #000000;
}

.title_excluir {
  background: #c4c4c4;
  font-size: 20px;
  font-weight: 600;
  padding: 9px 0px 9px 42px;
  margin-top: 25px;
}

.acao_excluir {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin-top: 100px;
}

.acao_tamanho {
  width: 1110px;
  height: 41px;
}

.scroll {
  width: 1168px;
  height: 250px;
  background: rgb(255, 255, 255);
  overflow: scroll;
}
